body {
	font-family: 'Roboto', sans-serif !important;
	font-size: 18px !important;
	line-height: 1.5!important;
	background-color: #ffffff !important;
	font: #2a2a2a !important;
}
li {
	padding-top: 1.5rem;
}
.firstcontainer {
	margin-top: 12rem;
}
.frontpic {
	margin-bottom: 5rem;
}
.sitename {
	margin-top: 0;
	letter-spacing: 1px;
}
.job {
	margin-top: 0;
	margin-bottom: 2rem;
}
.btn {
	margin-top: .5rem;
	margin-right: 2rem;
}
